@charset "utf-8";
/*Documento original css */

body {

    background-color: #ffffff;
}

#cabecera {

    background-color: #1f2c38;
    height: 200px;
    border-radius: .2em;
    max-width: auto;
    margin: 1px;
    position: relative;
    text-align: center;
    /*text-align: center;
    text-shadow: 0.1em 0.2em 0.2em black;*/

}
#bienvenidaTxt{
    color:#ffffff;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Banner {
    max-width: 0px auto;
    margin-top: 10px;
}
.navegacionPrin {
    list-style: none;
    background: #eebdbf;
    padding: 0px;
    border-radius: .4em;
    max-width: 100%;
    margin: 1px;
}

.navegacionPrin li a {
    text-shadow: 0.1em black;
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    border-radius: .5em;

}

.navegacionPrin li {
    display: inline-block;
    text-align: center;
    background-color: #eebdbf;
    color: black;

}

.navegacionPrin li a:hover {
    background-color: #c70039;
    color: #fff;
    text-shadow: 0.1em #ffffff;
}

li {
    background-color: #fff;
    text-decoration: none;
    padding: .5em;
}

#contenido {
    max-width: 95%;
    margin: auto;
    background-color: #ffffff;
}

#contenidoPrin {
    background-color: dodgerblue;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 500px;
    padding-top: 15px;
    /*border: 1px solid;
    border-color: aqua;*/
}

#imagen {
    float: right;
    max-width: auto;
    margin-top: 10px;
}
#imgAmigo{
    float: center;
    max-width: auto;
    margin-top: 10px;
}
#titulo {
    text-align: center;
}
#piePrin{
    background-color: #ffffff;
    clear: both;
    max-width: 90%;
    margin-top: 30px;
    height: 150px;
    border-radius: .4em;
    margin: auto;
    text-align: center;
}
#tituloPasatiempo{
    font-style: italic;
    text-align: center;
}
#formulario{
    text-align: center;
}
#tablaEstudios{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;

}
caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #999;
    width: 25%;
    
 }
 caption {
    font-weight: bold;
    font-style: italic;
 }
 .container{
    margin: auto;
    margin-left: 150px;
    background-color: white;
    width: 100%;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      /*list-style: none;*/
  }
  
  ul.slider{
    position: relative;
    width: 90%;
    height: 400px;
    list-style: none;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1;
  }
  
  ul.slider li:target {
      opacity: 1;
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #c70039;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
  .proyectos {
    padding-left: 2rem;
    
  }
  
  .proyectos li {    
    color: #000;
    font: normal 20px cursive;
    font-style: italic;
  }
  #contenidoEstudios{
    margin: auto;
    margin-left: 50px;
    max-width: auto;
    background-color: white;
    width: 80%;
    padding: 30px;

  }
  .formularioContacto{
    width:340px;
    height:440px;
    background:#eebdbf;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative;
  }
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border:2px solid #c70039;
    background:0;color:#000;
    cursor:pointer;
    transition:all .3s
}
button:hover{
    background:#c70039;
    color:#fff
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;border:0;
    transition:all .3s;
    border-bottom:2px solid #c70039
}
input:focus{
    border-bottom:2px solid #000
}
p:before{
    content:attr(type);
    display:block;margin:28px 0 0;
    font-size:14px;
    color:#000
}
h3 {
    color: #000;
    font: normal 20px ;
    font-weight: bold;
    font-family: cursive;
}
p{
    color: #000;
    font: normal 20px ;
    font-family: cursive;
    text-align: justify;

}
h4 {
    color: #000;
    font: normal 20px ;
    


}
h2{
    font-style: italic;
}